@import "tailwindcss";

:root {
  --accent: #0cce7d;
  --background: #ffffff;
  --background-secondary: #f7f7f7;
  --backdround-tertiary: #eaeaea;
  --background-gradient: linear-gradient(90deg, #0cce7d, #a80404);
  --foreground: #1b1b1b;
  --border: #e7e7e7;
}

@theme inline {
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--backdround-tertiary);
  --color-background-gradient: var(--background-gradient);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.Pagearea {
  width: 1500px;
  margin: auto;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1900px) {
  .Pagearea {
    width: 1500px;
  }
}

@media screen and (max-width: 1600px) {
  .Pagearea {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 1100px) {
  .Pagearea {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 600px) {
  .Pagearea {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}
